<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <link rel="icon" href="../static/Imagenes/img_nabyLotus/lotodelnahue2.png" type="image/png">
    <link rel="stylesheet" href="../static/css/comun.css">
    <link rel="stylesheet" href="../static/css/detalle.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
       <div id="Logo">
         <p>Naby</p>
         <a href="/home">
           <img src="../static/Imagenes/img_nabyLotus/lotodelnahue2.png" alt="">
         </a>
          <p>Lotus</p>
       </div>
       <div id="UserInfo">
            <div id="Usuario">
               <img id="foto-usuario" src="" alt="Foto de perfil" />
               <div id="menu-logout" class="menu-logout">Cerrar sesión</div>
            </div>  
            <div id="nombre-usuario" class="NombreUsuario"></div>
       </div>
    </header>
   <main>
      <section class="introduccion">
        <div class="carrusel">
          <img src="" alt="Imagen planta">
        </div>
        <div class="descripcion">
           <p></p>
        </div>
      </section>
      <section class="cicloVida">
         <h1></h1>
         <table>
         </table>
      </section> 
     <section class="guia-cuidados">  
     </section>
     <section class="diarioCultivo">
             <div class="comentarioUsuario">
                <textarea id="comentario" placeholder="Escribí cómo está tu planta hoy..."></textarea>
                <p id="comentario-riego"></p>
                <img id="preview" class="foto-planta" alt=""/>
             </div>
             <div class="riego">
                 <button onclick="agregarRiego()" class="boton-riego">💧</button>
                 <p id="ultimo-riego" class="ultimo-riego">Último riego: --/--</p>
             </div>
             <div class="guardarComentario-Seleccionarfoto">
                 <div class="guardar-comentario">
                    <button onclick="guardarComentario()" class="guardar">Guardar comentario</button>
                 </div>
                 <div class="seleccionarFoto">
                    <button onclick="elegirFoto()" class="seleccionFoto">📷</button>
                    <input type="file" id="inputFoto" accept="image/*" onchange="mostrarImagen(event)" hidden>
                 </div>
             </div>
      </section>
  </main>
  <script src="../static/js/infoUsuario.js"></script>
  <script src="../static/js/detalles.js"></script>
</body>
</html>